<form role="form">
  <div class="form-group">
  	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="config.questions"> Only show questions
		</label>
	</div>

	<!-- Currently does not scroll when maximized, so it becomes unusable.
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="config.maximizable"> Allow widget to be maximized to fill the screen
		</label>
	</div>
	-->
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="config.collapsible"> Allow widget to be collapsed
		</label>
	</div>
  </div>
</form>