<div class="widget panel panel-default {{config.panelColorClass.panel}}">
    <div class="panel-heading {{config.panelColorClass.heading}}">
        <span class="panel-actions {{config.panelColorClass.actions}}">
            <!-- actions that don't make configuration changes, though state may be saved in local storage -->
            <a href="" title="reload widget content" ng-if="widget.reload" ng-hide="editMode" ng-click="reload()">
                <i class="fa fa-refresh"></i>
            </a>
            <!-- collapse -->
            <a href="" title="collapse widget" ng-show="collapsible && !isCollapsed" ng-hide="editMode" ng-click="isCollapsed = !isCollapsed">
                <i class="fa fa-minus"></i>
            </a>
            <!-- expand -->
            <a href="" title="expand widget" ng-show="collapsible && isCollapsed" ng-hide="editMode" ng-click="isCollapsed = !isCollapsed">
                <i class="fa fa-plus"></i>
            </a>
            <!-- full screen -->
            <a href="" title="fullscreen widget" ng-show="fullscreenable" ng-hide="editMode" ng-click="">
                <i class="fa fa-expand"></i>
            </a>

            <!-- actions that do affect the configuration -->
            <!-- change widget location -->
            <a href="" title="change widget location" ng-if="editMode">
                <i class="fa fa-arrows"></i>
            </a>
            <!-- open edit mode -->
            <a href="" title="edit widget configuration" ng-click="edit()" ng-if="editMode">
                <i class="fa fa-cog"></i>
            </a>
            <!-- remove widget -->
            <a href="" title="remove widget" ng-click="close()" ng-if="editMode">
                <i class="fa fa-times"></i>
            </a>
        </span>
        <h3 class="panel-title">
            <i class="{{definition.icon}}"></i>
            {{definition.title}}
        </h3>
    </div>
    <div class="panel-body {{config.panelColorClass.body}}" collapse="isCollapsed">
        <adf-widget-content model="definition" content="widget" />
    </div>
</div>
